.full-container {
    height: 80vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}


.home-greeting p {
    margin-bottom: 0;
    font-size: 16px;
    max-width: 418px;
    margin-right: 0;
    color: #cdcdcd;
}

.home-greeting h2 {
    font-size: 32px;
    color: white;
}

.home-inner {
    align-items: center;
    display: flex;
    justify-content: center;
}


.mob-container {
    /* position: relative; */
    justify-content: center;
    display: flex;
}

.home-inner .profile-photo {
    max-width: 400px;
    /* position: absolute; */
    /* object-fit: cover; */
    
}


/* ################################# FOOTER */

.full-container .icons-container {
    display: flex;
    font-size: 70px;
    justify-content: space-evenly;
}

.icons-container #email {
    color: white
}

.icons-container #github {
    color: white;
}

.icons-container #linkedin {
    color: #0077b7;
}

.icons-container #twitter {
    color: #1da1f2;
}

.full-container .icons-container i {
    transition-duration: .8s;
    margin-right: 16px;
}

.full-container .icons-container i:hover {
    color: #3bb5d7;
    font-size: 75px;
}

.footer p {
    margin-bottom: 0;
}

.footer {
    background-color: black;
}


/* ########### ICONS */

.icon {
    /* max-width: 30px; */
    /* height: auto; */
    /* position: relative; */
}

.icon img {
    /* position: absolute; */
    max-width: 38px;
    height: auto;
}

.lg-icon img {
    max-width: 50px;
    height: auto;
}


@media (max-width: 850px) {
    .home-inner {
        flex-direction: column-reverse;
    }

    .icon.d-flex.align-items-center.mb-2 {
        justify-content: center;
    }

    .home-inner .profile-photo {
        max-width: 250px; 
        margin: 20px 0; /* Optional: You can adjust the vertical margin to ensure elements fit within the viewport */
        padding-top: 30px;
    }
}

/* Assuming you mentioned that 575px is the breakpoint */
@media (max-width: 575px) {
    .home-inner {
        flex-direction: column-reverse; /* This will place the image on top */
        align-items: center; /* Centers items horizontally */
        justify-content: space-around; /* Even space between items */
    }

    .home-greeting h2 {
        font-size: 24px;
        color: white;
    }

    .home-greeting p {
        margin-bottom: 0;
        font-size: 16px;
        /* max-width: 418px; */
        margin-right: 0;
        color: #cdcdcd;
    }

    .icon.d-flex.align-items-center.mb-2 {
        justify-content: center;
    }

    .home-inner .profile-photo {
        max-width: 180px; /* 2/3rds of 400px */
        margin: 20px 0; /* Optional: You can adjust the vertical margin to ensure elements fit within the viewport */
        padding-top: 30px;
        border-radius: 20px;
    }

    .home-greeting {
        text-align: center; /* Centers text in `.home-greeting` */
        margin-bottom: 20px; /* Optional: You can adjust the bottom margin if needed */
    }
}