.full-container {
    height: 100vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.home-greeting {
    /* flex-grow: 1; */
    /* flex-direction: column;
    display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.home-greeting p {
    margin-bottom: 0;
    font-size: 16px;
    color: #797979;
    max-width: 418px;
    margin-right: 0;
}

.home-greeting h2 {
    font-size: 32px;
    color: black;
}

.home-inner {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 850px) {
    .home-inner {
        flex-direction: column;
    }
}


.mob-container {
    /* position: relative; */
    justify-content: center;
    display: flex;
}

.home-inner .profile-photo {
    max-width: 400px;
    /* position: absolute; */
    /* object-fit: cover; */
    
}


/* ################################# FOOTER */

.full-container .icons-container {
    display: flex;
    font-size: 70px;
    justify-content: space-evenly;
}

.icons-container #email {
    color: black;
}

.icons-container #github {
    color: black;
}

.icons-container #linkedin {
    color: #0077b7;
}

.icons-container #twitter {
    color: #1da1f2;
}

.full-container .icons-container i {
    transition-duration: .8s;
    margin-right: 16px;
}

.full-container .icons-container i:hover {
    color: #3bb5d7;
    font-size: 75px;
}

.footer p {
    margin-bottom: 0;
}

.footer {
    background-color: white;
}


/* ########### ICONS */

.icon {
    /* max-width: 30px; */
    /* height: auto; */
    /* position: relative; */
}

.icon img {
    /* position: absolute; */
    max-width: 38px;
    height: auto;
}

#lg-icon img {
    max-width: 50px;
    height: auto;
}