#skills-container {
    padding-left: 8px;
    padding-right: 8px;
}

#skills-container p {
    color: white;
}

#skills-container h3 {
    color: white;
}


#skills-container li {
    color: white;
}

.skill-card {
    transition-duration: .8s;
}

.skill-card:hover {
    /* background-color: #f2f6ff; */
}