#skills-container {
    padding-left: 8px;
    padding-right: 8px;
}

#skills-container p {
    color: black;
}

#skills-container h3 {
    color: black;
}


#skills-container li {
    color: black;
}

.skill-card {
    transition-duration: .8s;
}

.skill-card:hover {
    background-color: #f2f6ff;
}