.home-container {
    height: 100vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.center-container img {
    max-width: 400px;
    height: auto;
    object-fit: cover;
}

.center-container {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 9vh;
}

#inner-home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#home-greeting {
    flex-grow: 1;
}

.center-container img {
    flex-grow: 1;
}

#home-greeting p {
    margin-bottom: 0;
    font-size: 16px;
    font-color: #797979;
}

#home-greeting h2 {
    font-size: 32px;
    font-color: black;
}