<html>
  <head>


    <meta charset="utf08" />
    <title>Alexander Kelso</title>
    <script src="https://kit.fontawesome.com/164ac97590.js" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css" />
    


  </head>
  <!-- #################################### MAIN BODY  #################################### -->
  <body>



    <!-- #################################### Card -->

    <div class="p-5">
      <h1> </h1>
    </div>

    <div class="container">
      <div class="skill-card light-blue">
        <div class="container p-3">
          <div class="row">
            <div class="skill-card-left col-sm-12 col-md-5">
              <div class="skill-heading d-flex">
                <img src="images/data-research.png" alt="placeholder">
                <h3 class="pl-3" >Fintech & Development</h3>
              </div>
              <p class="skill-bio">
                In recent years, I have armed my finacial foundations with up-to-date training across numerous cutting-edge financial technologies.
              </p>
            </div>
            <div class="skill-card-right d-flex col-sm-12 col-md-7">
              <ul class=skill-list>
                <li>  Python & Pandas </li>
                <li>  APIs </li>
                <li>  Quantitative Analysis </li>
                <li>  Financial Model Building </li>
                <li>  Machine Learning </li>
                <li>  Deep Learning </li>
                <li>  Natural Language Processing </li>
                <li>  Relational Databases (SQL & ORM) </li>
              </ul>
              <ul class=skill-list>
                <li> Big Data Analytics </li>
                <li> Cloud Technologies </li>
                <li> ERP Systems </li>
                <li> Customer Service Bots </li>
                <li> Algorithmic Trading </li>
                <li> DLT, Blockchain & Cryptocurrencies </li>
                <li> Solidity </li>
                <li> HTML, CSS & Javascript </li>
                <li>  Ruby on Rails </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>





     
  </body>
</html> 
