#skills-container {
    padding-left: 8px;
    padding-right: 8px;
}

#skills-container p {
    color: black;
}

#skills-container h3 {
    color: black;
}


#skills-container li {
    color: black;
}