.article-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;     
}

.article-card {
    flex: 0 0 auto; 
    width: 170px;
    text-align: center;
    background-color:#072a26;
    border-radius: 5px;
    margin-right: 24px;
    margin-bottom: 24px;
    transition-duration: .8s;
}

.article-card:hover {
    background-color: #3b9188;
}

.article-card a {
    text-decoration: none;
    color: white;
    transition-duration: .8s;
}

.article-card a:hover {
    font-size: 102%;
    color: #3ab6d7;
}

.article-img {
    position: relative;
    height: 100px;
    width: auto;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.article-card img {
    position: absolute;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    display: block;
}

.article-card h4 {
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-weight: bold;
}

.article-card p {
    padding-left: 16px;
    padding-right: 16px;
    color: #b8e1dd;
}