/* GENERAL STYLING FOR ARTICLE CARDS */

.article-card {
    flex: 0 0 auto;
    text-align: center;
    background-color: #072a26;
    border-radius: 5px;
    margin: 0 8px;
    transition-duration: .8s;
    max-width: 129px; 
    box-sizing: border-box;
}

.article-card:hover {
    background-color: #3b9188;
}

.article-card a {
    text-decoration: none;
    color: white;
    transition-duration: .8s;
}

.article-card a:hover {
    /* font-size: 102%; */
    color: #3ab6d7;
}

.article-img {
    height: 100px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-card img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    display: block;
}

.article-card h4 {
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-weight: bold;
}

.article-card p {
    padding-left: 16px;
    padding-right: 16px;
    color: #b8e1dd;
}





/* GENERAL STYLES FOR ARTICLE CAROUSEL */

.article-carousel-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.article-carousel-btn {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.article-carousel-prev, .article-carousel-next {
    color: #054b43;
    border-color: #054b43; /* If the chevrons are made with borders, this will change their color */
    transition: transform 1s ease, filter 1s ease, color 1s ease;
}

.article-carousel-prev:focus, .article-carousel-next:focus {
    outline: none;
}

.article-carousel-prev:hover, .article-carousel-next:hover {
    /* transform: scale(1.40);  */
    color: #b6c869;
    /* filter: drop-shadow(0px 0px 5px #b6c869); Shadow around the image content */
}

.article-carousel-content {
    flex-grow: 1;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    scroll-behavior: smooth;
    transition: scroll 1s ease-in-out;
}

.article-carousel-content::-webkit-scrollbar { /* Chrome, Safari */
    display: none;
}

.article-carousel-list {
    display: flex;
    scroll-snap-align: start;
    list-style-type: none; /* This removes the bullets */
    padding: 0;            /* This removes any default padding */
    margin: 0;             /* This removes any default margin */
}

.article-carousel-list li {
    flex: 0 0 25%; /* Start with 4 logos across */
    scroll-snap-align: start;
    transition: flex 0.5s;
}


/* RESPONSIVENESS */

/* @media (max-width: 900px) { */
    /* .article-card { */
        /* width: calc(100% / 3 - 24px); Three cards for medium screens */
    /* } */
/* } */

/* @media (max-width: 600px) { */
    /* .article-card { */
        /* width: calc(100% / 2 - 16px); Two cards for smaller screens */
    /* } */
/* } */

/* @media (max-width: 400px) { */
    /* .article-card { */
        /* width: 90%; One card for very small screens */
    /* } */
/* } */


@media (max-width: 900px) {
    .article-carousel-list li {
        flex: 0 0 33.33%;
    }
}

/* Responsive styling for 2 logos across */
@media (max-width: 600px) {
    .article-carousel-list li {
        flex: 0 0 50%;
    }
}
