/* GENERAL STYLES FOR ARTICLE CAROUSEL */

.article-carousel {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.carousel-content.article-carousel {
    flex-grow: 1;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.article-carousel::-webkit-scrollbar {
    display: none;
}

.carousel-list.article-carousel-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.article-card {
    flex: 0 0 auto;
    width: calc(100% / 3 - 16px);
    text-align: center;
    background-color: #072a26;
    border-radius: 5px;
    margin: 0 8px;
    transition-duration: .8s;
    max-width: 180px; 
}

.article-card:hover {
    background-color: #3b9188;
}

.article-card a {
    text-decoration: none;
    color: white;
    transition-duration: .8s;
}

.article-card a:hover {
    font-size: 102%;
    color: #3ab6d7;
}

.article-img {
    height: 100px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-card img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    display: block;
}

.article-card h4 {
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-weight: bold;
}

.article-card p {
    padding-left: 16px;
    padding-right: 16px;
    color: #b8e1dd;
}

/* RESPONSIVENESS */

@media (max-width: 900px) {
    .article-card {
        width: calc(100% / 2 - 24px);
    }
}

@media (max-width: 600px) {
    .article-card {
        width: 90%; 
        margin: 0 5%; 
    }
}
