
.skill-heading {
  align-items: center;
}   

.skill-heading img {
  max-width: 50px;
}

.skill-list {
  margin: 0;
  flex-grow: 1;
}

.skill-bio {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skill-card {
  margin-top: 32px;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  border-radius: 5px;
  border: 1px solid #dee2e6;
}


.light-blue {
  background-color: #f3faff;
}

.light-red {
  background-color: #f7f0f0;
}

.light-green {
  background-color: #f6fbf7;
}

.light-pink {
  background-color: #f9f6fe;
}

