.carousel-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carousel-btn {
    font-size: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.carousel-prev, .carousel-next {
    color: #054b43;
    border-color: #054b43; /* If the chevrons are made with borders, this will change their color */
    transition: transform 1s ease, filter 1s ease, color 1s ease;
}

.carousel-prev:focus, .carousel-next:focus {
    outline: none;
}

.carousel-prev:hover, .carousel-next:hover {
    transform: scale(1.40); /* Grow the image by 110% */
    color: #b6c869;
    /* filter: drop-shadow(0px 0px 5px #b6c869); Shadow around the image content */
}

.carousel-content {
    flex-grow: 1;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    scroll-behavior: smooth;
}

.carousel-content::-webkit-scrollbar { /* Chrome, Safari */
    display: none;
}

.carousel-list {
    display: flex;
    scroll-snap-align: start;
    list-style-type: none; /* This removes the bullets */
    padding: 0;            /* This removes any default padding */
    margin: 0;             /* This removes any default margin */
}

.carousel-list li {
    flex: 0 0 25%; /* Start with 4 logos across */
    scroll-snap-align: start;
    transition: flex 0.5s;
}

.carousel-list li img {
    max-width: 100px;  /* Adjust this percentage as needed */
    height: auto;    /* Keeps the aspect ratio */
    display: block;  /* Remove any extra space below the image */
    margin: 0 auto;  /* Centers the image in its container */
    transition: transform 1s ease, filter 1s ease;
}

.carousel-list li img:hover {
    transform: scale(1.10);  /* Grow the image by 110% */
    filter: drop-shadow(0px 0px 15px #054b43); /* Omni-directional shadow */
}

/* Responsive styling for 3 logos across */
@media (max-width: 900px) {
    .carousel-list li {
        flex: 0 0 33.33%;
    }
}

/* Responsive styling for 2 logos across */
@media (max-width: 600px) {
    .carousel-list li {
        flex: 0 0 50%;
    }
}

