@charset "utf-8";

.carousel-container {
    position: relative; /* Newly added */
    width: 100%;
    margin: 10px auto;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 0;
}

.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center; /* To align along the main axis */
}


.carousel-container .nav-menu {
    width: 98%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    margin-left: 0;
    margin-right: 0;
}

.carousel-navs i {
    font-size: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #274943; /* Standard color */
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    transition: transform 1.2s; /* Transition for color and transform */
    transform-origin: 50% 50%; /* Center of the element */
}

.carousel-navs i:hover {
    color: #274943; /* Hover color */
    transform: scale(1.02); /* Scales up the size to 110% when hovered */
}


.main-carousel {
    width: 98%;
    max-height: 100px;
    padding-top: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
	padding-right: 20px; /* Padding to avoid the last image being covered by the right chevron */
    padding-left: 20px;  /* Padding to avoid the first image being covered by the left chevron */
}

.main-carousel::-webkit-scrollbar {
    display: none;
}

.main-carousel .company {
    min-width: 24%;
    margin: 0 0 0 20px;
    position: relative;
    left: 0;
    transition: 0.5s;
}

picture {
    width: 150px;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

picture img {
    width: 100%;
    height: auto;
}

.nav-menu h3, .nav-menu p {
    margin-bottom: 0;
}

.carousel-container .sub-container {
    padding-left: 15px;
    padding-right: 15px;
}

.chevrons .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.chevrons .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .nav-menu h1 {
        font-size: 25px;
    }
    
    .carousel-navs i {
        font-size: 30px;
    }

	.main-carousel {
        padding-right: 50px;
        padding-left: 50px;
    }
    
    .main-carousel .company {
        min-width: 50%;
        margin: 0 8px 0 8px;
    }
}

.carousel-cell {
    /* existing styles */
    margin-right: 20px; /* Space between images */
}