.education-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.education-card p {
    font-size: 14px;
}

.education-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children vertically since flex-direction is row */
    width: 100%; /* Ensure it takes the full width of its parent */
}

.education-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally since flex-direction is column */
    margin: 8px;
}

.education-details {
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the content horizontally */
}

.education-card img {
    display: block;
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    object-fit: contain;
    transition: transform 1s ease, filter 1s ease; /* Smooth transition for transformation and filter */
}

.education-card img:hover {
    transform: scale(1.10); /* Grow the image by 110% */
    filter: drop-shadow(0px 0px 15px #3b9188); /* Shadow around the image content */
  }


  /* MEDIA QUERIES */

/* Media query for medium screens (breakpoint at 1024px) */
@media (max-width: 1024px) {
    .education-card {
        flex: 1 0 calc(50% - 16px); /* 2 x 2 on medium screens */
    }
}

/* Media query for small screens (example breakpoint at 480px) */
@media (max-width: 480px) {
    .education-card {
        flex: 1 0 100%; /* 4 x 1 on small screens */
    }
}