.tool-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items at the start of the container */
}

.tool-card {
  flex: 0 0 calc(12.5% - 40px); /* 8 logos per row, adjusted for more space */
  margin: 20px; /* Increased margin for more space */
  box-sizing: border-box;

  display: flex;               /* Make it a flex container */
  justify-content: center;    /* Center content horizontally */
  align-items: center;        /* Center content vertically */  
}

.tool-card img {
  width: 100%;
  max-width: 80px;
  height: auto;
  transition: transform 1s ease, filter 1s ease; /* Smooth transition for transformation and filter */
}

.tool-card:hover img {
  transform: scale(1.10); /* Grow the image by 110% */
  filter: drop-shadow(0px 0px 15px #3b9188); /* Shadow around the image content */
}


/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .tool-card {
      flex: 0 0 calc(16.66% - 40px); /* 6 logos per row */
  }
}

@media (max-width: 992px) {
  .tool-card {
      flex: 0 0 calc(25% - 40px); /* 4 logos per row */
  }
}

@media (max-width: 768px) {
  .tool-card {
      flex: 0 0 calc(33.33% - 40px); /* 3 logos per row */
  }
  .tool-card img {
      max-width: 90%; /* Reduce the image width to create more space */
      max-width: 80px;
      margin: 0 auto; /* Center the image */
  }
}

@media (max-width: 576px) {
  .tool-card {
      flex: 0 0 calc(33.33% - 40px); /* 3 logos per row */
  }
  .tool-card img {
      max-width: 75%; /* Further reduce the image width for very small screens */
      margin: 0 auto; /* Center the image */
  }
}