
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300&family=Poppins:ital,wght@0,100;0,300;0,500;0,700;0,800;1,300;1,500;1,700;1,800&display=swap');

/* Components Design */
@import url("components/button.css");
@import url("components/card-skill.css");
@import url("components/experience-card.css");
@import url("components/container.css");
@import url("components/footer.css");
@import url("components/navbar.css");
@import url("components/carousel.css");
@import url("components/work_card.css");


/* PAGE STYLING */
@import url("home-segments/home-styling.css");
@import url("home-segments/skills-styling.css");
@import url("home-segments/about-styling.css");


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Open Sans', 'Helvetica' 'sans-serif'; */
    /* padding-bottom: 200px; */
    margin: 0;
    /* background-color: #faf1e6; */

    /* min-height: 100vh;
    display: flex;
    flex-direction: column; */
    height: 100vh;
}

h1, h2, h3 {
    font-family: 'Poppins', 'sans-serif';
}

h3 {
    font-size: 16px;
    /* color: #717171; */
}

p {
    /* color: #717171; */
    font-size: 14px;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #3bb5d7;
    transition-duration: .3s;
}

a:hover {
    color: #b6c869;
}

li {
    font-size: 14px;
}

h4 {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.black {
    color: black;
}

.s12 {
    font-size: 12px;
}

.black {
    color: black;
}

.grey {
    color: #797979;
}


.light-blue {
    background-color: #f3faff;
}
  
.light-red {
    background-color: #f7f0f0;
}

.light-green {
    background-color: #f6fbf7;
}

.light-pink {
    background-color: #f9f6fe;
}
  
.line-space {
    line-height: 1.6;
}